.form  {
    $namespace: &;

    &__checkbox,
    &__radio {
            display: block;
            position: absolute;
            clip: rect(0, 0, 0, 0);
            visibility: visible;

        & + label {
            position: relative;
            padding-left: 35px;
            cursor: pointer;
            display: inline-block;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
                border: 1px solid $black;
                background: none;
            }

            &:after {
                content: "";
                position: absolute;
                top: 3px;
                left: 7px;
                width: 6px;
                height: 10px;
                border: solid $black;
                border-width: 0 2px 2px 0;
                transition: all .2s ease-in-out;
            }
        }

        &:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
        }

        &:checked + label:after {
            opacity: 1;
            transform: scale(1);
        }
    }

    &__checkbox:checked + label:after {
        transform: scale(1) rotate(45deg);
    }

    &__radio {
        & + label {

            &:before {
                width: 20px;
                height: 20px;
                border-radius: 100%;
            }

            &:after {
                width: 6px;
                height: 6px;
                background: $black;
                top: 7px;
                left: 7px;
                transition: all 0.2s ease;
                border-radius: 100%;
            }
        }

    }

    &__label {
        font-size: rem-calc(15);
        line-height: 24px;
        color: $black;
        display: block;
        
        & + #{$namespace}__input {
            margin-top: 10px;
        }
    }

    &__input {
        height: 45px;
        border: 1px solid $grey;
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;
        font-size: rem-calc(15);
    }

    &__valid {
        color: $green;
        font-size: rem-calc(13);
    }

    &__error {
        color: $red;
        font-size: rem-calc(13);
    }

}

